.mainContent {
  display: flex;
  flex: 1;
  padding: 20px;
}

.vikingHighlight {
  text-align: left;
  margin-bottom: 20px;
}

.vikingHighlight img {
  width: 50%;
  border: 2px solid #d4af37;
}

.gameCarousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px;
}

.carouselItem {
  flex: 0 0 auto;
  width: 150px;
  border: 2px solid #d4af37;
  border-radius: 10px;
}
